body{
  background: url("../img/prj_image_2_4_15.jpg") no-repeat 0 0;
  width: 169px;
  height: 240px;
  background-size: 100% 314%;
}
.content{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.content h4{
  color: red;
}
.content ul{
  list-style: none;
  font-family: "楷体";
}
